body {
    font-family: "roboto";
    background-color: #F1F0EA;
}
/*
.btn-check label {

    background-color: black;

}

.contactame li {
    list-style: none;
}



.form {
    width:510px;
    height:550px;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 60px -15px #000;
    margin:calc(50vh - 330px) auto;
    padding:0px 45px;
    max-width:calc(150vw - 60px);
    box-sizing:border-box;
    font-family: "roboto";
}

.contenedor2 {
    display: flex;
    justify-content: space-between;
}

h2 {
    padding-bottom:15px;
    width:270px;
    color:#4A2391 ;
    border-bottom:3px solid #4A2391 
}

input {
    width:100%;
    padding:15px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family: "roboto";
    transition:all .3s;
    border-bottom:2px solid #bebed2
}

input:focus {
    border-bottom:2px solid #4A2391 
}

.relleno:before{
    content:attr(type);
    display:block;
    margin:15px  0;
    font-size:21px;
    color:#4A2391
}

button {
    float:right;
    padding:12px 18px;
    margin:12px 0 0;
    font-family: "roboto";
    border:2px solid #4A2391 ;
    background:0;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s}

button:hover {
    background:#4A2391  ;
    color:#fff
}
.datos>p {
    display: flex;
    justify-content: space-around;
}
.datos {
    display: flex;
    position: absolute;
    width: 450px;
    height: 60px;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    background:#534B52;
    color:#000;
    border-radius:6px;
    font-size:15px;
    box-shadow:10px 10px 40px -14px #000;
}

span {
    margin:0 5px 0 15px
}*/

.get_in_touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 15px;
}
.get_in_touch .title {
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: 30px;
    text-align: center;
    font-size: 17pt;
    line-height: 15pt;
    letter-spacing: 6.5px;
    color: #534B52;
}

.contact-form .form-field {
    position: relative;
    margin: 32px 0px;
}

.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #4A2391;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}
/*
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
    transform: translateY(-24px);
}*/

label {
    margin-bottom: 24px;
}

.contact-form .input-text:focus {
    outline: none;
}

.contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #4A2391;
    cursor: text;
    text-transform: capitalize;
    transition: transform 0.2s ease-in-out;
}

.submit-btn {
    padding:12px 18px;
    margin:12px 0 0;
    font-family: "roboto";
    border:2px solid #4A2391 ;
    background:0;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s}

.submit-btn:hover {
    background:#4A2391  ;
    color:#fff
}