body {
    margin: 0;
    padding: 0;
    font-family: "roboto";
    background-color: #F1F0EA;
}

main {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 200;
    margin-bottom: 30px;
    text-align: center;
    font-size: 17pt;
    line-height: 15pt;
    letter-spacing: 6.5px;
    color: #534B52;
}

h2 {
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
    font-size: 17pt;
    line-height: 15pt;
    letter-spacing: 6.5px;
    color: #534B52;
}

div.container{
    margin-top: 90px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 50px;
}

.container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 50%;
}

.sobre-mi {
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
}

div.sobre-mi {
    display: flex;
    justify-content: center;
    width: 70%;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 50px;
}

.lineas {
    width: 100%;
    width: 50px;
    border: none;
    height: 6px;
    background-color: black;
}

.estudio {
    width: 100%;
    color: #4A2391;
    font-size: 22px;
    margin-left: 65px;
    margin-top: -25px;
}

.institucion {
    width: 100%;
    font-size: 20px;
    margin-left: 65px;
    font-weight: 600;
}

.especialidades {
    margin-top: 90px;
}

.programas {
    margin-top: 10px;
    margin-bottom: 50px;
}

.parrafos {
    /*padding-top: 40px;*/
    text-align: center;
}

.parrafos p {
    /*margin-bottom: 20px;*/
    line-height: 1.6;
    color: #4A2391;
    font-size: 18pt;
}

.años {
    font-size: 15px;
}



.progreso {
    margin-top: 90px;
    margin-bottom: -20px;
    margin-bottom: 30px;
}

.parrafos > a {
    cursor: default;
    text-decoration: none;
}

@media (max-width:777px) {
    .parrafos {
        width: 100%;
        display: inline-block;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width:970px) {
    .parrafos {
        margin: 0px 150px 0 150px;
    }
}

@media (min-width:970px) {
    .parrafos {
        margin: 0px 200px 0 200px;
    }
}

