<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="shortcut icon" href="Imagenes/LogoACico.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/estiloscontacto.css">
    



    <title>Contacto | Agustín Colombo</title>
</head>

<body>

<header> 
    
    <div>
        <!--menu navegador y logo-->
        <a href="../index.html"><img src="../Imagenes/LogoAC.png" id="logo" alt="Logo Agustin Colombo"></a>

        <nav class="nave">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/portafolio.html">Portafolio</a></li>
                <li><a href="../views/sobre-mi.html">Sobre mi</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
                <li><a href="../views/behance.html">Behance</a></li>
                <li><a href="../views/cv.html">Curriculum vitae</a></li>
            </ul>
        
        </nav>
    </div>

</header>

<main>

    <br>
    <br>
    
    <!--formulario contacto-->
<h1>Ponerse en contacto</h2>

    <form>
            <label>Nombre
                <input type="text" name="Nombre">
            </label>

            <br><br>

            <label>Correo electronico
                <input type="text" name="Correo electronico">
            </label>

            <br><br>

            <label>Escribe tu mensaje 
                <input type="text" name="Escribe tu mensaje">
            </label>

            <br><br>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">¿Deseas recibir novedades/descuentos de mis servicios?</label>
            </div>

            <br><br>

            <input type="submit" class="btn-check" id="btn-check" autocomplete="off">
            <label class="btn btn-primary" for="btn-check">Enviar formulario</label>   
            <input type="submit" class="btn-check" id="btn-check" autocomplete="off">
            <label class="btn btn-primary" for="btn-check">Limpiar Formulario</label>
        
        </fieldset>

    </form>

<br><br>

<!--redes-->
    <div class="contactame">
    <h1>Contáctame</h1>
        <ul>
            <li><a href="https://www.behance.net/agustincolombo1" target="_blank">Behance</a></li>
            <li><a href="https://www.linkedin.com/in/agustincolombo/" target="_blank">Linkedin</a></li>
            <li><a href="https://wa.me/5491150029908" target="_blank">Celular</a></li>
            <li><a href="mailto:aguscolombo02@gmail.com">Correo electronico</a></li>
        </ul>
    </div>
</main>

<footer>
    <br>
    <br>
    <hr>
    <br>

    <!--redes y contacto-->
    <h3>Sígueme en</h3>
        <ul class="redesFooter">
            <li><a href="https://www.behance.net/agustincolombo1" target="_blank">Behance</a></li>
            <li><a href="https://www.linkedin.com/in/agustincolombo/" target="_blank">Linkedin</a></li>
            <li><a href="https://wa.me/5491150029908" target="_blank">Celular</a></li>
            <li><a href="mailto:aguscolombo02@gmail.com">Correo electronico</a></li>
        </ul>

    <br>
    <br>

    <div class="footer">
        <img src="../Imagenes/LogoFooter.png" id="logoFooter" alt="">
            <p>©2021 
            <strong>Agustín Colombo.</strong>
            <br>
            Buenos Aires, Argentina.</p>
    </div>

    <br>

</footer>

<!--script bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
</script>
</body>
</html>