<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/cv.css">
    <title>Cv | Agustín Colombo</title>
</head>
<body>
    
    <h1>Curriculum vitae</h1>

    <div class="botonesCV">
        <a href="https://www.behance.net/gallery/114717809/%28Esp%29-Portafolio-de-redes-sociales" target="_blank">
            <button class="botonCV">Ver Curriculum vitae en español</button>
        </a>
    </div>

    <div class="botonesCV">
        <a href="../download/(ESP)Portfolio - Agustín Colombo.pdf" download>
            <button class="botonCV">Descargar Curriculum vitae en español</button>
        </a>
    </div>

    <div class="botonesCV">
        <a href="https://www.behance.net/gallery/115250087/%28Eng%29-Social-media-Portfolio" target="_blank">
            <button class="botonCV">Ver Curriculum vitae en inglés</button>
        </a>
    </div>
    
    <div class="botonesCV">
        <a href="../download/(ENG)Portfolio - Agustín Colombo.pdf">
            <button class="botonCV">Descargar Curriculum vitae en inglés</button>
        </a>
    </div>

</body>
</html>